node_modules/
.env*
dist/
*.log
.pulumi/

# Ignore everything inside .github
.github/*

# Except workflows directory
!.github/workflows/

# And everything inside workflows
!.github/workflows/**

LogFiles/